{#<div class="pagination">#}
{#  <span class="step-links">#}
{#    {% if page.has_previous %}#}
{#      <a href="?page={{ page.previous_page_number }}">Previous</a>#}
{#    {% endif %}#}
{#    <span class="current">#}
{#      Page {{ page.number }} of {{ page.paginator.num_pages }}.#}
{#    </span>#}
{#    {% if page.has_next %}#}
{#      <a href="?page={{ page.next_page_number }}">Next</a>#}
{#    {% endif %}#}
{#  </span>#}
{#</div>#}

<div class="row">
{#    <div class="col-lg-12 mt--60">#}
{#        <nav>#}
{#            {% if object_list.has_other_pages %}#}
{#              <ul class="pagination p-center">#}
{#                {% if object_list.has_previous %}#}
{#                  <li class="page-item"><a class="page-link" href="?page={{ object_list.previous_page_number }}" aria-label="Previous">&laquo;</a></li>#}
{#                {% else %}#}
{#                  <li class="disabled"><span>&laquo;</span></li>#}
{#                {% endif %}#}
{#                {% for i in object_list.paginator.page_range %}#}
{#                  {% if object_list.number == i %}#}
{#                    <li class="page-item active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>#}
{#                  {% else %}#}
{#                    <li><a href="?page={{ i }}">{{ i }}</a></li>#}
{#                  {% endif %}#}
{#                {% endfor %}#}
{#                {% if object_list.has_next %}#}
{#                  <li><a class="page-link" href="?page={{ object_list.next_page_number }}" aria-label="Next">&raquo;</a></li>#}
{#                {% else %}#}
{#                  <li class="disabled"><span>&raquo;</span></li>#}
{#                {% endif %}#}
{#              </ul>#}
{#            {% endif %}#}
            <ul class="rbt-pagination">
                <li><a href="#" aria-label="Previous"><i class="feather-chevron-left"></i></a></li>
                <li><a href="#">1</a></li>
                <li class="active"><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#" aria-label="Next"><i class="feather-chevron-right"></i></a></li>
            </ul>
        </nav>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 mt--60">
        {% if page.has_other_pages %}
          <ul class="rbt-pagination">
            {% if page.has_previous %}
              <li>
                  <a href="?page={{ page.previous_page_number }}" aria-label="Previous"><i class="feather-chevron-left"></i></a>
              </li>
            {% else %}
              <li class="disabled"><a aria-label="Previous"><i class="feather-chevron-left"></i></a>/li>
            {% endif %}
            {% for i in page.paginator.page_range %}
              {% if page.number == i %}
                <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
              {% else %}
                <li><a href="?page={{ i }}">{{ i }}</a></li>
              {% endif %}
            {% endfor %}
            {% if page.has_next %}
              <li>
                  <a class="page-link" href="?page={{ page.next_page_number }}" aria-label="Next"><i class="feather-chevron-right"></i></a>
              </li>
            {% else %}
              <li class="disabled"><i class="feather-chevron-right"></i></li>
            {% endif %}
          </ul>
        {% endif %}
    </div>
</div>