{% load static %}

<div class="col-lg-3">
    <!-- Start Dashboard Sidebar  -->
    <div class="rbt-default-sidebar sticky-top rbt-shadow-box rbt-gradient-border">
        <div class="inner">
            <div class="content-item-content">

                <div class="rbt-default-sidebar-wrapper">
                    <div class="section-title mb--20">
                        <h6 class="rbt-title-style-2">Welcome, {{ request.user.profile.fullname }}</h6>
                    </div>
                    <nav class="mainmenu-nav">
                        <ul class="dashboard-mainmenu rbt-default-sidebar-list">
                            <li><a href="{% url "home:dashboard" %}"><i class="feather-home"></i><span>Dashboard</span></a></li>
                            <li><a href="{% url "profile" %}"><i class="feather-user"></i><span>My Profile</span></a></li>
                            <li><a href="{% url "conference:my-event" %}"><i class="feather-book-open"></i><span>My Conference </span></a></li>
                            <li><a href="{% url "abstract:my-abstract" %}"><i class="feather-bookmark"></i><span>My Abstract</span></a></li>
                            <li><a href="{% url "abstract:create-abstract" %}"><i class="feather-volume-2"></i><span>Create Abstract</span></a></li>
                        </ul>
                    </nav>

                    <div class="section-title mt--40 mb--20">
                        <h6 class="rbt-title-style-2">User</h6>
                    </div>

                    <nav class="mainmenu-nav">
                        <ul class="dashboard-mainmenu rbt-default-sidebar-list">
                            <li><a href="{% url 'password_change' %}"><i class="feather-settings"></i><span>Settings</span></a></li>
                            <li><a href="{% url "logout" %}"><i class="feather-log-out"></i><span>Logout</span></a></li>
                        </ul>
                    </nav>
                </div>

            </div>
        </div>
    </div>
    <!-- End Dashboard Sidebar  -->
</div>