{% extends "auth_base.html" %}
{% load static %}
{% load django_bootstrap5 %}
{% load i18n %}

{% block title %}Reset your password{% endblock %}

{% block content %}
    <div class="rbt-elements-area bg-color-white rbt-section-gaped">
        <div class="container">
            <div class="row gy-5 row--30">

                <div class="col-lg-6" style="float:none;margin:auto;">
                    <div class="rbt-contact-form contact-form-style-1 max-width-auto">
                        <h5 class="title" style="text-align:center;">Reset Password</h5>
                        <p style="text-align:center;"><a href="{% url "home:home" %}"><i class="feather-home"></i></a></p>
                        {% if validlink %}
                            <form action="." method="post" class="max-width-auto" id="log-in">
                                {% csrf_token %}

                                <div class="form-group">
                                    <div class="">
                                        {% bootstrap_field form.new_password1 show_label=False placeholder="Password" %}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="i">
                                        {% bootstrap_field form.new_password2 show_label=False placeholder="Password 2" %}
                                    </div>
                                </div>
                                <div class="form-submit-group">
                                    <button type="submit" class="rbt-btn btn-md btn-gradient hover-icon-reverse w-100">
                                        <span class="icon-reverse-wrapper">
                                            <span class="btn-text">Change my password</span>
                                        <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                        <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                        </span>
                                    </button>
                                </div>

                            </form>
                            {% else %}
                                <div class="max-width-auto">
                                    <p style="text-align:center;">The password reset link was invalid, possibly because it has
                                    already been used. Please request a new password reset.</p>
                                </div>
                            {% endif %}
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}

