{% extends "auth_base.html" %}

{% block title %}Reset your password{% endblock %}

{% block content %}
    <div class="rbt-elements-area bg-color-white rbt-section-gaped">
        <div class="container">
            <div class="row gy-5 row--30">

                <div class="col-lg-6" style="float:none;margin:auto;">
                    <div class="rbt-contact-form contact-form-style-1 max-width-auto">
                        <h5 class="title" style="text-align:center;">Reset your password</h5>
                        <p style="text-align:center;"><a href="{% url "home:home" %}"><i class="feather-home"></i></a></p>
                        <p>We've emailed you instructions for setting your password.</p>
                        <p>If you don't receive an email, please make sure you've entered the
                        address you registered with.</p>

                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}