{% extends "base.html" %}
{% load static %}
{% load django_bootstrap5 %}
{% load i18n %}

{% block title %}Change you password{% endblock %}

{% block content %}
     <!-- Start Card Style -->
    <div class="rbt-page-banner-wrapper">
        <!-- Start Banner BG Image  -->
        <div class="rbt-banner-image"></div>
        <!-- End Banner BG Image  -->
    </div>
    <div class="rbt-dashboard-area rbt-section-overlayping-top rbt-section-gapBottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">

                    <div class="row g-5">
                          {% include 'home/dash_side_bar.html' %}
                        <div class="col-lg-9">
                            <!-- Start Instructor Profile  -->
                            <div class="rbt-dashboard-content bg-color-white rbt-shadow-box">
                                <div class="content">
                                    <div class="section-title">
                                        <h4 class="rbt-title-style-3">Change password</h4>
                                    </div>

                                   <!-- Start Profile Row  -->
                                    <form method="POST" action="../registration" class="rbt-profile-row rbt-default-form row row--15">
                                        {% csrf_token %}
                                        <div class="col-12">
                                            <div class="rbt-form-group">
                                                <label for="currentpassword">Current Password</label>
                                                <input id="currentpassword" type="password" name="old_password" placeholder="Current Password">
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="rbt-form-group">
                                                <label for="newpassword">New Password</label>
                                                <input id="newpassword" type="password" name="new_password1" placeholder="New Password">
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="rbt-form-group">
                                                <label for="retypenewpassword">Re-type New Password</label>
                                                <input id="retypenewpassword" type="password" name="new_password2" placeholder="Re-type New Password">
                                            </div>
                                        </div>
                                        <div class="col-12 mt--10">
                                            <div class="rbt-form-group">
                                                <button type="submit" class="rbt-btn btn-md btn-gradient hover-icon-reverse w-100">
                                                    <span class="icon-reverse-wrapper">
                                                        <span class="btn-text">Update Password</span>
                                                    <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                                    <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                                    </span>
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                    <!-- End Profile Row  -->

                                </div>
                            </div>
                            <!-- End Instructor Profile  -->

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- End Card Style -->
{% endblock %}